body {
  background-color: rgb(231, 224, 224);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
}

h1 {
  text-align: center;
  font-family: "Tinos", serif;
  color: black;
}

h6 {
  text-align: center;
  font-family: "Tinos", serif;
  color: black;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.icons {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: black;
  font-size: 50px;
}

.fa-facebook-f {
  color: black;
  font-size: 50px;
}

footer {
  text-align: center;
  font-family: "Tinos", serif;
  color: black;
}

.titlePicture {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 8px;
}
