body {
  background-color: rgb(231, 224, 224);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
}

h1 {
  text-align: center;
  font-family: "Tinos", serif;
  color: #8b8369;
}

h6 {
  text-align: center;
  font-family: "Tinos", serif;
  color: black;
}

footer {
  text-align: center;
  font-family: "Tinos", serif;
  color: black;
}

.titlePicture {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 8px;
}

.newspaper {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 8px;
}
